@import url("./normalize.css");
@import url("./reset.css");

h2 {
    display: inline;
    background-color: var(--backgroundAside);
    padding: 5px;
}

span {
    border-left: 1px solid var(--naranja);
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}