
.tableQuerys {
    width: 90%;
    height: auto;
    border: solid 2px var(--azul) !important;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.rowTable {
    background-color: var(--whiteLight);
}

.icon {
    padding: 10px 20px;
    border-radius: 5px;
}

.moreInfoIcon {
    background-color: var(--cafe);
}

.deleteIcon {
    background-color: var(--red);
}

.uploadIcon {
    background-color: var(--green);
}


.tableQuerys thead {
    background-color: var(--azul);
}

th, td {
    padding: 5px;
    border-radius: 2px;
}

a {
    width: 100%;
    height: auto;
}

.center {
    margin: 0 auto;
}